:root {
  --color-black: #000000;
  --color-dark: #111111;
  --color-card: #181818;

  --color-white: #ffffff;
  --color-light: #f5f5f5;

  --color-gray: #b5b5b5;
  --color-dark-gray: #555555;

  --container-width: 1200px;
  --section-padding: 100px 8%;

  --font-primary: Arial, Helvetica, sans-serif;
}